table {
	border-collapse: collapse;
	width: 100%;
	
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #0000FF;
}

tr:hover {
	background-color: f5f5f5
}

label {
	display: inline-block;
	width: 140 px;
	text-align: : right;
}

a:link {
	text-decoration: none;
}

a:visited {
	color: green;
	display: none;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: none;
}

a:active {
	color: lightblue;
	text-decoration: none;
}

.form-element label {
	display: inline-block;
	width: 150px;
}

label {
	text-align: left;
}

form {
	align-content: left;
}

.input-element {
	width: 150px;
	border-radius: 5px;
}

textarea {
	width: 150px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	background-image: url(./images/back31.jpg);
	height: 100px;
	border: 2px solid;
	margin: 10px;
}

.header img {
	float: left;
	width: 100px;
	height: 100px;
	display: inline-block;
}

.header h1 {
	display: inline-block;
    color: white;
	margin-left: 100px;
	text-align: center;
}

.sub {
	font-size: 75%;
	text-align: center;
}

caption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	text-align: left;
	font-weight: bold;
}

.instructions {
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 80%;
	color: #000000;
}

th.Def, th.Pro {
	width: 15%;
}

th.Sum, th.Assign {
	width: 35%;
}